body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

article {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    border-left: .5rem solid #b4d455;
    overflow: hidden;
    h2 {
        padding: 0;
        margin: 0;
        margin: -1rem;
        padding: 1rem;
        margin-bottom: 1rem;
        background: #eee;
        strong {
            display: block;
            font-weight: 100;
        }
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: black;
            }
            &:visited {
                color: black;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    ul {
        margin-left: 0;
        padding-left: 1.5em;
    }

}


h1 {
    padding: 1rem;
    font-size: 1em;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    background: #eee;
    margin-left: 1rem;
    border-radius: 0 0 3px 3px;
    border: 1px solid #ccc;
    margin-top: -1px;
    border-top: none;
    display: inline-block;
    cursor: pointer;
    em {
        font-style: oblique;
        font-weight: 100;
        padding-left: .5rem;
    }
}

section {
    margin: 1rem;
    background: rgba(0,0,0, .05);
    border-radius: 3px;
    border-bottom: 1px solid #fff;
    border: 1px solid #ccc;
    padding-bottom: 1rem;
    &.collapsed {
        > div {
            display: none;
        }
    }
}

