/* GLOBAL */

.demo-block {
	background: #ccc;
	border: 1px solid rgba(0,0,0, .6);
	height: 200px;
	margin: 10px;
}

.clearfix {
	display: table;
	clear: both;
}


/* TWO COLUMN */

.two-column .left {
	float: left;
	width: 80%;
}

.two-column .right {
	float: right;
	width: 20%;
}


/* THREE COLUMN */

.three-column .main {
	width: 80%;
	float: left;
}

.three-column .main-left {
	width: 20%;
	float: left;
}

.three-column .main-right {
	width: 80%;
	float: right;
}

.three-column .secondary {
	float: right;
	width: 20%;
}

/* SIMPLE MARKETING */
